body {
    background: transparent;
    background-color: #0b0811;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%230007f9' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding: 0;
    margin: 0;
    background-size: cover;
    font-family: "Oswald", sans-serif;
    height: 100vh;
}

body .back {
    padding: 0;
    margin: 0;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand {
    width: 50px;
}

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 15px;
}

.nav-main ul li a {
    padding: 6px;
}

.nav-main ul li a:hover {
    border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}

.menu-button {
    position: absolute;
    cursor: pointer;
    color: #fff;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.3rem;
    display: none;
}

hr {
    margin: 10px 0;
}

.show {
    width: 100%;
    height: 700px;
    background: url('/PaginaWeb/img/assasin.jpeg') no-repeat center center/cover;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
}

.button {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 7px 25px;
    background: blue;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;
}

.button:hover {
    opacity: .7;
}

.show h2,
.show p {
    margin-bottom: 10px;
}

.notices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;
    color: #fff;
}

.notices img {
    width: 100%;
    height: 180px;
}

.notices h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #fff;
}

.notices a {
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.notices a:hover {
    text-decoration: underline;
}

.banner {
    width: 100%;
    height: 350px;
    background: url('/PaginaWeb/img/Banner.png') no-repeat center center/cover;
    margin-bottom: 40px;
}

.banner .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: #fff;
}

.banner h2,
.banner p {
    margin: 10px 0 20px 0;
}

.banner-two {
    width: 100%;
    height: 350px;
    background: url('/PaginaWeb/img/Banner-two.jpg') no-repeat center center/cover;
    margin-bottom: 40px;
}

.banner-two .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: #fff;
}

.banner-two h2,
.banner-two p {
    margin: 10px 0 20px 0;
}

.socials {
    margin: 50px;
}

.socials p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
}

.footer-links {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-content ul {
    margin: 0 auto;
}

.footer-content ul li {
    line-height: 3;
}

.footer {
    background: #2f3640;
    color: #616161;
    text-align: center;
    padding: 15px 0;
    font-size: 12px;
    padding-bottom: 20px;
}

@media (max-width: 700px) {

    .menu-button {
        display: block;
    }

    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .nav-menu ul.nav-menu li {
        padding: 20px;
        font-size: 14px;
    }

    .nav-main ul.nav-menu-right {
        margin-right: 40px;
    }

    .notices {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner .content,
    .banner-two .content {
        width: 80%;
    }

    .footer-links .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .notices {
        grid-template-columns: repeat(1, fr);
    }

    .notices img {
        height: 250px;
    }

    .banner .content,
    .banner-two .content {
        width: 100%;
        padding: 60px 20px;
    }

    .footer-links .footer-content {
        grid-template-columns: 1fr;
    }
}